.ide-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #000000;
  color: #e4e4e7;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.ide-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}



