# Common folders to ignore
node_modules/
.*node_modules/
vendor/
.*vendor/

# Environment files
.env
.env.local
.env.test
.env.production
.env.php

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build and Cache
dist/
build/
cache/
tmp/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

# Database


# OS Files
.DS_Store
Thumbs.db

# Backup and Large Files
*.zip
*.rar
*.7z
deploy_*.zip
